[include]
	# user configuration
	path = ~/.gitid
[core]
	editor = vim

	excludesfile = ~/.gitignore_global

	autocrlf = input

[pull]
	ff = only
[color "status"]
    added = green 
    changed = blue
    untracked = red
